ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    display:inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;

}

li a:hover{
    color:rgb(28, 149, 28);
    background-color:none; 
    text-decoration: none;
}

li a:active{
    color:rgb(16, 72, 16);
}

ul li ul {
    background-color:#00000057;
    display:none;
    position:absolute;
    width:100px;
    border-radius:15px;
}


ul li:hover > ul {
    display: block;
}

li ul li:hover > ul {
    display: block;
}

#ul_organik{
    margin-left: 25px;
}

#ul_cay{
    margin-left: -10px;
}
